[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/Nest-Microservices-HCM/api-gateway-repo.git
[submodule "authentication-ms"]
	path = authentication-ms
	url = https://github.com/Nest-Microservices-HCM/authentication-repo.git
